<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs" id="myTab">
        <div class="liner"></div>
                    
        <!-- circular user icon -->
        <li>
            <a routerLink="/form/1" routerLinkActive="active" data-toggle="tab" title="Datos Personales">
                <span class="round-tabs three">
                    <i class="fas fa-user"></i>
                </span>
            </a>
        </li>
         <!-- circular family icon -->
        <li>
            <a routerLink="/form/2" routerLinkActive="active"  data-toggle="tab" title="Datos Familiares">
                <span class="round-tabs three">
                    <i class="fas fa-users"></i>
                </span>
            </a>
        </li>
        <!-- circular user icon -->
        <li>
            <a routerLink="/form/3" routerLinkActive="active" data-toggle="tab" title="Datos de Educacion">
                <span class="round-tabs three">
                    <i class="fas fa-user-graduate"></i>
                </span>
            </a>
        </li>
 
        <!-- circular tasks icon -->
         <li>
            <a routerLink="/form/4" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Competencias Técnicas">
                <span class="round-tabs three">
                    <i class="fas fa-user-cog"></i>
                </span> 
            </a>
        </li>
 
        <!-- circular home icon -->
        <li>
            <a routerLink="/form/5" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Idiomas">    
                <span class="round-tabs three">
                    <i class="fas fa-language"></i>
                </span>
            </a>
        </li>

        <!-- circular family icon -->
        <li>
            <a routerLink="/form/6" routerLinkActive="active" data-toggle="tab" [routerLinkActiveOptions]="{ exact: true }" title="Experiencia Laboral">    
                <span class="round-tabs three">
                    <i class="fas fa-user-tie"></i>
                </span>
            </a>
        </li>

        <li>
            <a routerLink="/form/7" routerLinkActive="active" data-toggle="tab" [routerLinkActiveOptions]="{ exact: true }" title="Referencias Personales">    
                <span class="round-tabs three">
                    <i class="fas fa-user-check"></i>
                </span>
            </a>
        </li>
 
        <!-- circular ok icon -->
        <li>
            <a routerLink="/form/8" routerLinkActive="active" data-toggle="tab" title="completed">
                <span class="round-tabs three">
                    <i class="fas fa-snowboarding"></i>
                </span>
            </a>
        </li>

        <li>
            <a routerLink="/form/9" routerLinkActive="active" data-toggle="tab" title="completed">
                <span class="round-tabs three">
                    <i class="fas fa-check"></i>
                </span>
            </a>
        </li>
                
                
    </ul>
    <div class="clearfix"></div>
</div>
 
<!-- Close the Splash screen -->
<script src="content/js/loading-bars.js"></script>